body,
html {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

/* Header section */

.header {
  background-image: url(assets/heading.png);
  height: 13em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 2.625rem;
}

.header a {
  font-size: 0.875em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

/* Search bar */

.search-section {
  position: relative;
}

.search-container {
  position: absolute;
  bottom: -1.7em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
  width: 80%;
  border: none;
  border-radius: 5px;
}

.search-wrap {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 5px 0 0 5px;
  background-color: #2e2e2f;
  overflow: hidden;
  padding: 5px 0;
}

.search-icon {
  padding: 10px;
  columns: gray;
  border: none;
}

.search {
  padding: 10px;
  background-color: #2e2e2f;
  border: none;
  border-radius: 0;
  outline: none;
  color: #9ca3af;
  font-size: 0.8rem;
  font-weight: bold;
  flex: 1;
}

.search-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4b4b4b;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}

/* Movies Section */

#movies-container {
  margin: 44px;
}

.movie-div {
  display: flex;
  align-items: center;
  padding: 1.25em 0;
  border-bottom: 1px solid #2c2c2c;
}

.movie-details {
  padding: 21px;
}

.movie-poster {
  width: 6.25em;
  height: 9.188em;
}

.title-details {
  margin-bottom: 8px;
}

.title {
  font-size: 18px;
  margin: 0;
}

.rating {
  font-size: 12px;
  margin-left: ;
}

.watch-details {
  display: flex;
  align-items: center;
}

.watch-details p {
  font-size: 12px;
  margin: 0;
}

#watchlist-btn {
  font-size: 14px;
  margin-left: 15px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#watchlist-btn img {
  width: 12px;
}

.summary {
  font-size: 14px;
  max-width: 60ch;
}
